configuration {
  show-icons: true;
  display-ssh:    "󰣀 ssh:";
  display-run:    "󱓞 run:";
  display-window: "󱂬 window:";
  display-combi:  "󰕘 combi:";
  display-drun: "󰣖 Applications";
  display-filebrowser: "󰉋 filebrowser:";
  font: "JetBrainsMono Nerd Font 16";
}

@import "themes/catppuccin-mocha.rasi"  /* import theme */ 

